html, body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #1e1e1e;
}

body {
  font-family: sans-serif;
  background: #1e1e1e;
  color: #ffffff;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 15px;
}