.fade {
  position: fixed;
  inset: 0;
  background-color: #1e1e1e;
  z-index: 9999;
  pointer-events: none;
  opacity: 1;
}

/* Beim Wechsel zu neuer Seite */
.fade.fade-out {
  animation: fadeOut 0.1s forwards;
}

/* Beim Ankommen auf neuer Seite */
.fade.fade-in {
  animation: fadeIn 0.1s forwards;
}

.fade.fade-in-slow {
  animation: fadeIn 0.5s forwards;
}

/* Nach Animation verstecken */
.fade.hidden {
  display: none;
}

@keyframes fadeOut {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 1; }
  to   { opacity: 0; }
}
